.container{
    width: 1200px;
    padding: 60px;
    /* background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 5px;

}
.table{
    color: white;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 180px;
    width: 1400px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:1px;
    border: 3px solid #3498db;

}
h1{
    margin-top: 0px;
    color: #3498db;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 43px;
}
button{
    border: 2px solid #3498db;
    background-color: black;
    color: white;
    height: 35px;
    width:100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    transform:scale(1.1);
    background-color: #3498db;
    color:black;
    }
.mr-sm-2{
    background-color: bisque;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
    margin-bottom: 10px;
}
.col-md-4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 1px;
    font-weight: bold;


}
    

