.container{
    width: 1000px;
    padding: 60px;
     /* background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    margin-top: 60px;
    margin-left: 85px;
    font-weight: bold;
    /* border :3px solid #3498db; */
    /* background-color: black; */
}
button{
    border: 2px solid #3498db;
    background-color: black;
    color: white;
    height: 35px;
    width:100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    margin-top: 20px;
}
button:hover{
    transform:scale(1.1);
    background-color: black;
    color:#3498db
}
input[type="text"]:focus,
input[type="email"]{
    border: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color:#3498db;
    font-weight: bold;
    transition: 0.2 ease;
    height: 30px;
    width:100px;
    
}
h1{
    font-weight: bold;
    color: #3498db;
    padding-top: 1px;
    padding-bottom: 20px;
}
.mb-3{
    border: 3px solid black;
    font-weight: bold;
}
.form-control{
    /* background: hsla(205, 46%, 30%, 1); */
    /* background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%); */
    color: black;
    background-color: bisque;
    font-weight: bold;
}



