.navbar-brand{
    color: brown;
    font-size:30px;
    font-weight: bold;
    transition: .3s;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size:23px;
    font-family: 'Times New Roman', Times, serif;

}
nav ul li a:hover{
    color:#ea1538;
    transition: .3s;
}
.btn{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    font-family: 'Times New Roman', Times, serif;
    margin:0 13px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size:20px;
    transition: .3s;
}


